<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>intro</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    <img class="backimg" src="{{url_for('static',filename='css/Home-bg2.jpeg')}}">
    <header>
        <h3>AI based Animal Detection</h3>

        <div class="nav">
            <div class="nav-lis">
                <ul class="nav-li" style="margin-left: 38%;">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="true" href="home.html" style="font-size: 24px;">Home</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active text-bg-danger rounded-3" href="intro.html" style="font-size: 24px;">Introduction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="upload.html" style="font-size: 24px;">WebCam</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
<!--    <h2 class="Par">-->
<!--        China, India and the United States are among the countries in the world most affected by natural disasters. Natural disasters have the potential to wreck and even end the lives of those people, who stand in their way. <br><br> However, whether-->
<!--        or not you are likely to be affected by a natural disaster dramatically depends on where in the world you live, The objective of the project is to human build a web application to detect the type of disaster. The input is taken from the in-built-->
<!--        webcam, which in turn is given to the pre-trained model. The model predicts the type of disaster and displayed on UI.-->
<!--    </h2>-->
</body>

</html>